[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
geopy = "*"
aiogram = "*"
aiohttp = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.9"
