certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
Flask==1.1.2
geographiclib==1.50
geopy==1.21.0
idna==2.9
importlib-metadata==3.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonconfig-tool==1.5
keyring==21.2.0
MarkupSafe==1.1.1
messages==0.5.0
PySocks==1.7.1
pyTelegramBotAPI==3.6.7
python-box==4.2.2
pywin32-ctypes==0.2.0
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.14.0
toml==0.10.0
typing-extensions==3.7.4.3
urllib3==1.25.9
validus==0.3.0
Werkzeug==1.0.1
zipp==3.4.0
